


.blackbutton {
  width: 135px;
  height: 23px;
  display: inline-block;
  background: linear-gradient(to bottom, #3d3d3d 19%,#4c4c4c 82%); /* W3C */
  border-radius: 6px;
  box-shadow: 0 2px 0 rgb(73, 72, 72);
  margin-left: 5px;
  margin-top: 13px;
  padding: 10px;
  text-align: center;
  text-shadow: 0 2px 0 rgb(155, 154, 154);
  color: white;
}

.silverbutton {
  width: 278px;
  height: 60px;
  display: inline-block;
 background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(211,211,211,1) 47%,rgba(242,242,242,1) 100%); /* W3C */
  border-radius: 6px;
  box-shadow: 0 2px 0 rgb(155, 154, 154);
  margin-left: 10px;
  border-radius: 8px;
  border: 1px black;
  color: blue;
  text-align: center;
  line-height: 60px;
}

.yellowbutton {
  width: 218px;
  height: 50px;
  display: inline-block;
  background: linear-gradient(to bottom, #fcec5f 0%,#f1da36 88%); /* W3C */
  border-radius: 6px;
  box-shadow: 0 2px 0 rgb(155, 154, 154);
  margin-left: 0px;
  line-height: 50px;
  text-align: center;
  color: black;
}

.grey1 {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 200px;
  background: #D0CDC7;

}


.grey2 {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 200px;
  background: #949090;

}

.darkgrey1 {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 200px;
  background: #414141;

}

.lightcolor {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 200px;
  background: #F2F0EC;

}

.gradient1 {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 200px;
  background: linear-gradient(to bottom, #fcec5f 0%,#f1da36 88%); /* W3C */

}

.silvergradient1 {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 200px;
  background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(211,211,211,1) 47%,rgba(242,242,242,1) 100%); /* W3C */

}


.submainwrap {
  margin: 0 auto;
 min-width: 500px;
 min-height: 200px;
  /*margin-left: -328px;*/
  background: blue;
  font-family: Futura;
  color: white;
  display: inline-block;
  text-align: center;
  line-height: 200px;
}

.shadow1 {
text-shadow: 0 2px 0 rgb(155, 154, 154);
font-size: 30px;

}

.shadow2 {
  text-shadow: 0 2px 0 blue;
  font-size: 30px;
}

.opaquebar {
  width:620px;
  height: 50px;
  background: black;
  opacity: 0.5;
  
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
}

